body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    width: 100%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar-container {
    width: 100%;
    background-color: #f7f9ff;
    border-bottom: 0.1rem solid #dddcdc;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.navbar-items-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-items {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.pos-right {
    margin-left: auto;
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

a {
    color: #212529;
}
a:visited {
    color: #212529;
}

.form-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.form-input {
    display: block;
    padding-bottom: 1rem;
}

.form-input input {
    font-size: 1rem;
    padding: 0.65rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
}

.form-input input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem #abd4ff;
}

.form-button {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0.5rem;
    background-color: #007bff;
}

.form-button:hover {
    cursor: pointer;
    background-color: #046ddd;
}

.flash-message {
    display: block;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid #2088f8;
    border-radius: 0.5rem;
    background-color: #d8e6ff;
}

.currency-container {
    padding: 0.5rem;
}

.currency-button {
    font-size: 1rem;
    background-color: #f0f7ff;
    border: 1px solid #cacaca;
    border-radius: 1rem;
    padding: 10rem 5rem;
    margin: 1rem 1rem;
    transition: background-color 0.3s ease;
}

.currency-button:hover {
    cursor: pointer;
    background-color: #dbecff;
}

.parent-div {
    display: flex;
    margin-top: 1rem;
}

.main-content {
    width: 60%;
    margin: 0rem 0.5rem;
}

.sidebar {
    background-color: #9a9aff;
    width: 40%;
    margin: 0rem 0.5rem;
 }

 .main-form {
    color: white;
    background-color: #9bcbff;
    border: 1px solid #208cff;
    border-radius: 1rem;
    margin: 0 auto;
    width: 80%;
 }

 .main-form input {
    border: 1px solid #208cff;
    margin-right: 0.5rem;
 }

 .main-form input:focus {
    box-shadow: 0 0 0 0.25rem #3f96f3;
 }

 .main-form select {
    font-size: 1rem;
    padding: 0.65rem;
    border: 1px solid #208cff;
    border-radius: 0.5rem;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.main-form select:focus {
    box-shadow: 0 0 0 0.25rem #3f96f3;
}

 table {
    background-color: transparent;
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 80%;
 }

table th:nth-child(1) {
    width: 60%;
}

table th:nth-child(2) {
    width: 40%;
}

table th,
table td {
    font-size: 1rem;  
    vertical-align: middle;
}

table th {
    padding: 0.75rem;
}

table td {
    background-color: #f1f0f0;
}

table td:hover {
    cursor: pointer;
    background-color: #d1cece;
}

table thead tr {
    background-color: #9bcbff;
}

table td button {
    border: none;
    background-color: transparent;
    width: 100%;
    margin: none;
    display: block;
    padding: 0.75rem;
}

table td button:hover {
    cursor: pointer;
}

.header {
    background-color: #67a6e9;
    border: 1px solid #0777ee;
    border-radius: 0.5rem;
    margin: 0 auto;
    width: 78%;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.header:hover {
    background-color: #4996e9;
}