body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    width: 100%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar-container {
    width: 100%;
    background-color: #f7f9ff;
    border-bottom: 0.1rem solid #dddcdc;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.navbar-items-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-items {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.pos-right {
    margin-left: auto;
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

a {
    color: #212529;
}
a:visited {
    color: #212529;
}

.form-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.form-input {
    display: block;
}

.form-input input {
    font-size: 1rem;
    width: 12.5%;
    padding: 0.75rem;
    margin: 0.05rem 0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
}

.form-input input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem #abd4ff;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.form-button {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0.5rem;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    cursor: pointer;
    background-color: #0a68cc;
}

#flash-message {
    position: relative;
    display: block;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid #2088f8;
    border-radius: 0.5rem;
    background-color: #d8e6ff;
}

.currency-container {
    margin: 2rem 0;
    padding: 0.5rem;
}

.currency-button {
    font-size: 1rem;
    background-color: #f0f7ff;
    border: 1px solid #cacaca;
    border-radius: 1rem;
    padding: 8rem 6rem;
    margin: 1rem 1rem;
    transition: background-color 0.3s ease;
}

.currency-button:hover {
    cursor: pointer;
    background-color: #dbecff;
}

.parent-div {
    display: flex;
    margin-top: 1rem;
}

.main-content {
    width: 60%;
    margin: 0rem 1rem;
}

.sidebar {
    background-color: #f5f9ff;
    width: 40%;
    margin: 0rem 1rem;
    border: 1px solid #002a57;
    border-radius: 1rem;
 }

 .display {
    padding: 1rem;
 }

 .display h2, .display h1, .display p {
    padding: 0;
    margin: 0;
 }

 .display table {
    background-color: transparent;
    margin: 0 auto;
    height: auto;
    width: 70%;
 }

.display table th, .display table td {
    font-size: 0.8rem;  
    vertical-align: middle;
    padding: 0.5rem;
}

.display table td {
    padding-left: 1rem;
    text-align: left;
}

.display table td:hover {
    background-color: #f1f0f0;
    cursor:  text;
}

.display table th:nth-child(1) {
    width: 50%;
}

.display table th:nth-child(2) {
    width: 50%;
}

.total-expenses {
    width: 66%;
    padding: 0.5rem;
    margin: 0.5rem auto;
    background-color: #9bcbff;
    border: 1px solid #208cff;
    border-radius: 1rem;
}

.main-form {
    color: white;
    background-color: #9bcbff;
    border: 1px solid #208cff;
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 80%;
}

.main-form h2 {
    padding: 0;
    padding-bottom: 0.5rem;
    margin: 0;
}

.main-form input {
    border: 1px solid #208cff;
    width: 23%;
    transition: box-shadow 0.3s ease;
}

.main-form input:focus {
    box-shadow: 0 0 0 0.15rem #3f96f3;
}

.main-form select {
    font-size: 1rem;
    padding: 0.65rem;
    border: 1px solid #208cff;
    border-radius: 0.5rem;
    outline: none;
    transition: box-shadow 0.3s ease;
    width: 27%
}

.main-form select:focus {
    box-shadow: 0 0 0 0.15rem #3f96f3;
}

.main-form select:hover {
    cursor: pointer;
}

table {
    background-color: transparent;
    margin-left: 9%;
    width: 89%;
}

table th:nth-child(1) {
    width: 55%;
}

table th:nth-child(2) {
    width: 38%;
}

table th:nth-child(3) {
    background-color: white;
    width: 7%;
}

table th,
table td {
    font-size: 1rem;  
    vertical-align: middle;
}

table th {
    padding: 0.75rem;
}

table td {
    background-color: #f1f0f0;
    transition: background-color 0.3s ease;
}

table td:nth-child(3) {
    background-color: transparent;
}

table td:hover {
    cursor: pointer;
    background-color: #d1cece;
}

table td:nth-child(3):hover {
    cursor: default;
    background-color: transparent;
}

table thead tr {
    background-color: #9bcbff;
}

table td button {
    border: none;
    background-color: transparent;
    width: 100%;
    margin: none;
    display: block;
    padding: 0.75rem;
}

table td button:hover {
    cursor: pointer;
}

.header {
    font-size: 1rem;
    background-color: #67a6e9;
    border: 1px solid #0777ee;
    padding: 0.5rem 0;
    margin: 0;
    margin-left: 9.2%;
    width: 81.8%;
    color: white;
}

.header:hover {
    background-color: #4996e9;
}

.icon-container {
    padding: 0;
    margin: 0;
    text-align: left;
}

.fa-trash {
    color: #ff0000;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.fa-trash:hover {
    color: #c71414;
}

.fa-pen-to-square {
    text-align: right;
    font-size: 1.3rem;
    color: #000000;
    transition: color 0.3s ease;
}

.fa-pen-to-square:hover {
    cursor: pointer;
    color: #555353;
}

.spent-td {
    text-align: center;
}

.spent-button {
    position: relative;
    border: none; 
}

.spent-button i {
    position: absolute;
    right: 8px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.spent-td:hover {
    background-color: #f1f0f0;
}

.spent-td button:hover {
    cursor: default;
    background-color: #f1f0f0;
}

.spent-td button input {
    text-align: center;
    width: 40%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0.25rem;
}

.spent-button-2 {
    position: relative;
    border: none; 
}


.fa-check { 
    position: absolute;
    transform: translateY(-10%);
    margin-left: 0.5rem;
    padding: 0;
    font-size: 1.3rem;
    color: #18e218;
    transition: color 0.3s ease;
}

.fa-check:hover {
    cursor: pointer;
    color: #068006;
}

.fa-x {
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #fc5a5a;
    transition: color 0.3s ease;
}

.fa-x:hover {
    cursor: pointer;
    color: #e00000;
}

#remove-flash {
    font-size: 0.8rem;
    position: absolute;
    top: 12px;
    right: 0.7rem;
}

.fa-user {
    text-align: center;
    font-size: 10rem;
}

.account-container {
    align-items: center;
}

.profile {
    background-color: #f6fffa;
    padding: 5rem;
    border: 1px solid #000000;
    border-radius: 1rem;
    width: 20%;
    margin: 0 1rem;
}

.account-setting {
    background-color: #f6fffa;
    padding: 5rem;
    padding-top: 0;
    width: 20%;
    border: 1px solid #000000;
    border-radius: 1rem;
}

.account-setting button {
    margin: 0.5rem 0;
}

.account-setting h3 {
    margin: 1.5rem;
}

#delete-acc {
    margin: 0.5rem 0;
    background-color: #ff2d2d;
    transition: background-color 0.3s ease;
}

#delete-acc:hover {
    background-color: #d30000;
}

.delete-container {
    background-color: #f6fbff;
    padding: 0 3rem;
    border: 1px solid #000000;
    border-radius: 1rem;
    width: 30%;
    margin: 5rem auto;
}

.delete-container h2 {
    padding: 0;
    margin: 0.5rem 0;
}

.delete-container p {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
}

.delete-container img {
    height: 10rem;
}
.delete-container form {
    display: inline;
}

.delete-container button {
    background-color: #ff2d2d;
    padding: 0.75rem 1.5rem;
    margin: 0 0.25rem;
    transition: background-color 0.3s ease;
}

.delete-container button:hover {
    background-color: #d30000;
    padding: 0.75rem 1.5rem;
    margin: 0 0.25rem;
}