{% extends "layout.html" %}

{% block title %}
    $₱ENT - Change Password
{% endblock %}

{% block main %}
    <div class="form-container">
        <div>
            <h2>Change Password</h2>
        </div>

        <form action="/change_password" method="post">
            <div class="form-input mb-1">
                <input name="old_password" placeholder="Old Password" type="text" autocomplete="off" autofocus>
            </div>
            <div class="form-input mb-1">
                <input name="new_password" placeholder="New Password" type="text" autocomplete="off" autofocus>
            </div>
            <button class="form-button" type="submit">Change Password</button>
        </form>   

    </div>

{% endblock %}