{% extends "layout.html" %}

{% block title %}
    $₱ENT - {{ month }} {{ year }}
{% endblock %}

{% block main %}
    <div class="parent-div">

        <div class="main-content">
            <div class="main-form">
                <h2>Add a day</h2>
                <form action="/add_day" method="post">
                    <div class="form-input">
                        <input name="day" placeholder="Input a day" type="number" autocomplete="off" autofocus>
                        <input name="year" value="{{ year }}" type="hidden">                         
                        <input name="month" value="{{ month }}" type="hidden">
                        <button class="form-button" type="submit">Add Day</button>
                    </div>
                </form>
            </div>

            <div class="table-container">
                <h2 class="header">{{ month }} {{ year }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Daily Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if days[0]["day"] == None %}
                        <tr>
                            <td><button>Add a day to display</button></td>
                            <td><button>some amount</button></td>
                            <td></td>
                        </tr>
                    {% else %}
                        {% for day in days %}
                            <tr>
                                <td>
                                    <form action="/spent" method="get">
                                        <input name="year" value="{{ year }}" type="hidden">
                                        <input name="month" value="{{ month }}" type="hidden">
                                        <input name="day" value="{{ day['day'] }}" type="hidden">
                                        <button type="submit">{{ day["day"] }}</button></td>
                                    </form>
                                <td>
                                    <form action="/spent" method="get">
                                        <input name="year" value="{{ year }}" type="hidden">
                                        <input name="month" value="{{ month }}" type="hidden">
                                        <input name="day" value="{{ day['day'] }}" type="hidden">
                                        <button type="submit">{{ day["expenses"] | float | format_currency }}</button></td>
                                    </form>
                                </td>
                                <td>
                                    <form action="/delete_day" method="post">
                                        <input name="year" value="{{ year }}" type="hidden">
                                        <input name="month" value="{{ month }}" type="hidden">
                                        <input name="day_id" value="{{ day['id'] }}" type="hidden">
                                        <button class="icon-container" type="submit"><i class="fa-solid fa-trash"></i></button></td>
                                    </form>
                                </td>
                            </tr>                                    
                        {%  endfor %}
                    {% endif %}
                    </tbody> 
                </table>
            </div>
        </div>
        {% include "sidebar.html" %}
    </div>        

{% endblock %}