{% extends "layout.html" %}

{% block title %}
    $₱ENT 
{% endblock %}

{% block main %}
            <div class="parent-div">
                
                <div class="main-content">
                    <div class="main-form">
                        <h2>Add a year</h2>
                        <form action="/add_year" method="post">
                            <div class="form-input">
                                <input name="year" placeholder="Input a year" type="number" autocomplete="off" autofocus>
                                <button class="form-button" type="submit">Add Year</button>
                            </div>
                        </form>
                    </div>

                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Years</th>
                                    <th>Annual Expenses</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if not years %}
                                <tr>
                                    <td><button>Add a year to display</button></td>
                                    <td><button>some amount</button></td>
                                    <td></td>
                                </tr>
                            {% else %}
                                {% for year in years %}
                                    <tr>
                                        <td>
                                            <form action="/months" method="get">
                                                <input name="year" value="{{ year['year'] }}" type="hidden">
                                                <button type="submit">{{ year["year"] }}</button></td>
                                            </form>
                                        <td>
                                            {% if not year["expenses"] %}
                                                <form action="/months" method="get">
                                                    <input name="year" value="{{ year['year'] }}" type="hidden">
                                                    <button type="submit">{{ 0 | format_currency }}</button></td>
                                                </form>
                                            {% else %}
                                                <form action="/months" method="get">
                                                    <input name="year" value="{{ year['year'] }}" type="hidden">
                                                    <button type="submit">{{ year["expenses"] | format_currency }}</button></td>
                                                </form>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <form action="/delete_year" method="post">
                                                <input name="year_id" value="{{ year['id'] }}" type="hidden">
                                                <button class="icon-container" type="submit"><i class="fa-solid fa-trash"></i></button></td>
                                            </form>
                                        </td>
                                    </tr>                                    
                                {%  endfor %}
                            {% endif %}
                            </tbody> 
                        </table>
                    </div>
                </div>
                <div class="sidebar">
                    Display total expenses here
                </div> 
            </div>        

{% endblock %}