{% extends "layout.html" %}

{% block title %}
    $₱ENT - Register
{% endblock %}

{% block main %}
    <div class="form-container">
        <div>
            <h1>Register</h1>
        </div>

        <form action="/register" method="post">
            <div class="form-input mb-1">
                <input name="username" placeholder="Username" type="text" autocomplete="off" autofocus>
            </div>
            <div class="form-input mb-1">
                <input name="password" placeholder="Password" type="password" autocomplete="off" autofocus>
            </div>
            <div class="form-input mb-1">
                <input name="confirmation" placeholder="Confirm Password" type="password" autocomplete="off" autofocus>
            </div>
            <button class="form-button" type="submit">Register</button>
        </form>   

    </div>

{% endblock %}