<div class="sidebar">
    <div class="display">
        <div><h2>Hello, {{ session["username"] }}</h2></div>
        <div class="total-expenses">
            <p>Total expenses</p>
            {% if total_expenses == None %}
                <h1>{{ 0 | format_currency }}</h1>
            {% else %}
                <h1>{{ total_expenses | format_currency}}</h1>
            {% endif %}
        </div>

        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>mount</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td><b>{{ expense["name"] }}</b></td>
                        {% if expense["amount"] == None %}
                            <td>{{ 0 | format_currency }}</td>
                        {% else %}
                            <td>{{ expense["amount"] | format_currency }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> 