{% extends "layout.html" %}

{% block title %}
    $₱ENT - {{ month }} {{ day }}, {{ year }}
{% endblock %}

{% block main %}
    <div class="parent-div">

        <div class="main-content">
            <div class="main-form">
                <h2>Add Category</h2>
                <form action="/add_category" method="post">
                    <div class="form-input">
                        <select name="category">
                            <option selected disabled>Select a category</option>
                            <option value="Bills">Bills</option>
                            <option value="Food">Food</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Healthcare">Healthcare</option>
                            <option value="Education">Education</option>
                            <option value="Savings or Investments">Savings or Investments</option>
                            <option value="Other">Other</option>
                        </select>
                        <input name="amount" placeholder="Input an amount" type="number" autocomplete="off" autofocus>
                        <input name="year" value="{{ year }}" type="hidden">                         
                        <input name="month" value="{{ month }}" type="hidden">
                        <input name="day" value="{{ day }}" type="hidden">                         
                        <button class="form-button" type="submit">Add Category</button>
                    </div>
                </form>
            </div>

            <div class="table-container">
                <h2 class="header">{{ month }} {{ day }}, {{ year }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Amount Spent</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if not categories %}
                        <tr>
                            <td><button>Add a category to display</button></td>
                            <td><button>some amount</button></td>
                            <td></td>
                        </tr>
                    {% else %}
                        {% for category in categories %}
                            <tr>
                                <td class="spent-td">
                                    <button>{{ category.category }}</button>
                                </td>
                                <td class="spent-td">
                                    <button class="spent-button">
                                        {{ category.amount | float | format_currency }}
                                        <i class="fa-solid fa-pen-to-square edit-icon"
                                            data-year="{{ year }}"
                                            data-month="{{ month }}"
                                            data-day="{{ day }}"
                                            data-amount="{{ category.amount }}"
                                            data-id="{{ category.id }}">
                                        </i>   
                                    </button>
                                </td> 
                                <td>
                                    <form action="/delete_category" method="post">
                                        <input name="year" value="{{ year }}" type="hidden">
                                        <input name="month" value="{{ month }}" type="hidden">
                                        <input name="day" value="{{ day }}" type="hidden">   
                                        <input name="spent_id" value="{{ category.id }}" type="hidden">  
                                        <button class="icon-container" type="submit"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>                                    
                        {%  endfor %}
                    {% endif %}
                    </tbody> 
                </table>
            </div>
        </div>
        {% include "sidebar.html" %}
    </div>        

{% endblock %}